@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin my-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    font-family: 'Roboto', sans-serif;
}